* {
  font-family: "Poppins", sans-serif;
}

#app {
  background-color: #000;
  width: 300px;
  height: 506px;
  margin: auto;
  border-radius: 12px;
  margin-top: 60px;
  overflow: hidden;
}

.gray-bg {
  background-color: #a5a5a5;
}

.orange-bg {
  background-color: #fe9f0c;
}

.btn-color {
  color: #fff;
  background-color: #333333;
}

button {
  margin: 0;
  padding: 0;
  border-width: 0;
  cursor: pointer;
}

.items {
  display: flex;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
}

.item button {
  margin: auto;
  margin-top: 5.6px;
  width: 28%;
  height: 35%;
  border-radius: 12px;
  border-radius: 50%;
  font-size: 1.2em;
}

.item button:nth-child(13) {
  width: 65%;
  border-radius: 30px;
}

.math button {
  height: 50px;
  width: 50px;
  font-size: 20px;
}

.math {
  width: 25%;
}

.math button {
  width: 90%;
  margin: auto;
  margin-top: 5.6px;
  height: 35%;
  border-radius: 12px;
  border-radius: 50%;
  font-size: 1.2em;
  color: #fff;
  font-weight: 600;
}

.screen {
  height: 170px;
  background-color: black;
  position: relative;
  max-height: 170px;
  overflow-y: scroll;
}

.screen::-webkit-scrollbar {
  width: 1px;
}

.red {
  color: red;
  animation: blingBling cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.24s infinite;
}

@keyframes blingBling {
  0% {
    color: red;
  }
  50% {
    color: white;
  }
  100% {
    color: red;
  }
}

input {
  margin-top: 5%;
  width: 90%;
  margin-left: 3.5%;
  font-size: 2.2rem;
  text-align: end;
  padding-top: 12%;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 300;
  height: 31px;
}

.screen-sub {
  color: #fff;
  margin: 4px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  word-break: break-word;
}

.noise {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.05;
}

.opa5 {
  opacity: 0.5;
}

.bit {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: rgba(255, 255, 255, 0.686);
}

@media only screen and (max-width: 420px) {
  #app {
    width: 90vw;
    height: 100vh;
  }
}
